CompileFlags:
  Add:
    - -ILibraries/iLLD/TC37A/Tricore/Cpu/Std
    - -ILibraries/iLLD/TC37A/Tricore/Scu/Std
    - -includeLibraries/Infra/Platform/Tricore/Compilers/Compilers.h
    - -includeLibraries/iLLD/TC37A/Tricore/Cpu/Std/Platfrom_Types.h"

    - -IConfigurations"
    - -ILibraries"
    - -ILibraries/Infra"
    - -ILibraries/Infra/Platform"
    - -ILibraries/Infra/Platform/Tricore"
    - -ILibraries/Infra/Platform/Tricore/Compilers"
    - -ILibraries/Infra/Sfr"
    - -ILibraries/Infra/Sfr/TC37A"
    - -ILibraries/Infra/Sfr/TC37A/_Reg"
    - -ILibraries/Infra/Ssw"
    - -ILibraries/Infra/Ssw/TC37A"
    - -ILibraries/Infra/Ssw/TC37A/Tricore"
    - -ILibraries/Service"
    - -ILibraries/Service/CpuGeneric"
    - -ILibraries/Service/CpuGeneric/If"
    - -ILibraries/Service/CpuGeneric/If/Ccu6If"
    - -ILibraries/Service/CpuGeneric/StdIf"
    - -ILibraries/Service/CpuGeneric/SysSe"
    - -ILibraries/Service/CpuGeneric/SysSe/Bsp"
    - -ILibraries/Service/CpuGeneric/SysSe/Comm"
    - -ILibraries/Service/CpuGeneric/SysSe/General"
    - -ILibraries/Service/CpuGeneric/SysSe/Math"
    - -ILibraries/Service/CpuGeneric/SysSe/Time"
    - -ILibraries/Service/CpuGeneric/_Utilities"
    - -ILibraries/iLLD"
    - -ILibraries/iLLD/TC37A"
    - -ILibraries/iLLD/TC37A/Tricore"
    - -ILibraries/iLLD/TC37A/Tricore/Asclin"
    - -ILibraries/iLLD/TC37A/Tricore/Asclin/Asc"
    - -ILibraries/iLLD/TC37A/Tricore/Asclin/Lin"
    - -ILibraries/iLLD/TC37A/Tricore/Asclin/Spi"
    - -ILibraries/iLLD/TC37A/Tricore/Asclin/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Can"
    - -ILibraries/iLLD/TC37A/Tricore/Can/Can"
    - -ILibraries/iLLD/TC37A/Tricore/Can/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/Icu"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/PwmBc"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/PwmHl"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/TPwm"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/Timer"
    - -ILibraries/iLLD/TC37A/Tricore/Ccu6/TimerWithTrigger"
    - -ILibraries/iLLD/TC37A/Tricore/Convctrl"
    - -ILibraries/iLLD/TC37A/Tricore/Convctrl/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Cpu"
    - -ILibraries/iLLD/TC37A/Tricore/Cpu/Irq"
    - -ILibraries/iLLD/TC37A/Tricore/Cpu/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Cpu/Trap"
    - -ILibraries/iLLD/TC37A/Tricore/Dma"
    - -ILibraries/iLLD/TC37A/Tricore/Dma/Dma"
    - -ILibraries/iLLD/TC37A/Tricore/Dma/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Dts"
    - -ILibraries/iLLD/TC37A/Tricore/Dts/Dts"
    - -ILibraries/iLLD/TC37A/Tricore/Dts/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Edsadc"
    - -ILibraries/iLLD/TC37A/Tricore/Edsadc/Edsadc"
    - -ILibraries/iLLD/TC37A/Tricore/Edsadc/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Eray"
    - -ILibraries/iLLD/TC37A/Tricore/Eray/Eray"
    - -ILibraries/iLLD/TC37A/Tricore/Eray/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Evadc"
    - -ILibraries/iLLD/TC37A/Tricore/Evadc/Adc"
    - -ILibraries/iLLD/TC37A/Tricore/Evadc/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Fce"
    - -ILibraries/iLLD/TC37A/Tricore/Fce/Crc"
    - -ILibraries/iLLD/TC37A/Tricore/Fce/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Flash"
    - -ILibraries/iLLD/TC37A/Tricore/Flash/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Geth"
    - -ILibraries/iLLD/TC37A/Tricore/Geth/Eth"
    - -ILibraries/iLLD/TC37A/Tricore/Geth/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Gpt12"
    - -ILibraries/iLLD/TC37A/Tricore/Gpt12/IncrEnc"
    - -ILibraries/iLLD/TC37A/Tricore/Gpt12/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Atom"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Atom/Dtm_PwmHl"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Atom/Pwm"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Atom/PwmHl"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Atom/Timer"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Pwm"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tim"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tim/In"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tim/Timer"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tom"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tom/Dtm_PwmHl"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tom/Pwm"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tom/PwmHl"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Tom/Timer"
    - -ILibraries/iLLD/TC37A/Tricore/Gtm/Trig"
    - -ILibraries/iLLD/TC37A/Tricore/Hssl"
    - -ILibraries/iLLD/TC37A/Tricore/Hssl/Hssl"
    - -ILibraries/iLLD/TC37A/Tricore/Hssl/Std"
    - -ILibraries/iLLD/TC37A/Tricore/I2c"
    - -ILibraries/iLLD/TC37A/Tricore/I2c/I2c"
    - -ILibraries/iLLD/TC37A/Tricore/I2c/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Iom"
    - -ILibraries/iLLD/TC37A/Tricore/Iom/Driver"
    - -ILibraries/iLLD/TC37A/Tricore/Iom/Iom"
    - -ILibraries/iLLD/TC37A/Tricore/Iom/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Msc"
    - -ILibraries/iLLD/TC37A/Tricore/Msc/Msc"
    - -ILibraries/iLLD/TC37A/Tricore/Msc/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Mtu"
    - -ILibraries/iLLD/TC37A/Tricore/Mtu/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Pms"
    - -ILibraries/iLLD/TC37A/Tricore/Pms/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Port"
    - -ILibraries/iLLD/TC37A/Tricore/Port/Io"
    - -ILibraries/iLLD/TC37A/Tricore/Port/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Psi5"
    - -ILibraries/iLLD/TC37A/Tricore/Psi5/Psi5"
    - -ILibraries/iLLD/TC37A/Tricore/Psi5/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Psi5s"
    - -ILibraries/iLLD/TC37A/Tricore/Psi5s/Psi5s"
    - -ILibraries/iLLD/TC37A/Tricore/Psi5s/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Qspi"
    - -ILibraries/iLLD/TC37A/Tricore/Qspi/SpiMaster"
    - -ILibraries/iLLD/TC37A/Tricore/Qspi/SpiSlave"
    - -ILibraries/iLLD/TC37A/Tricore/Qspi/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Scu"
    - -ILibraries/iLLD/TC37A/Tricore/Scu/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Sent"
    - -ILibraries/iLLD/TC37A/Tricore/Sent/Sent"
    - -ILibraries/iLLD/TC37A/Tricore/Sent/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Smu"
    - -ILibraries/iLLD/TC37A/Tricore/Smu/Smu"
    - -ILibraries/iLLD/TC37A/Tricore/Smu/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Src"
    - -ILibraries/iLLD/TC37A/Tricore/Src/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Stm"
    - -ILibraries/iLLD/TC37A/Tricore/Stm/Std"
    - -ILibraries/iLLD/TC37A/Tricore/Stm/Timer"
    - -ILibraries/iLLD/TC37A/Tricore/_Impl"
    - -ILibraries/iLLD/TC37A/Tricore/_Lib"
    - -ILibraries/iLLD/TC37A/Tricore/_Lib/DataHandling"
    - -ILibraries/iLLD/TC37A/Tricore/_Lib/InternalMux"
    - -ILibraries/iLLD/TC37A/Tricore/_PinMap"

    - -includeLibraries/ControlUnitLogicOperator/ControlUnitLogicOperator.h

